name: CI
on:
  push:
    branches:
      - master
      - beta
      - 1.x
  pull_request:
    paths-ignore:
      - '.gitignore'
      - '.npmignore'
      - '*.md'

jobs:
  build:
    name: Lint, and test on Node ${{ matrix.node }} and ${{ matrix.os }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: |
          pnpm lint
          pnpm lint:types

      - name: Test
        run: pnpm test

      - name: Build
        run: pnpm build

  publish-module:
    name: 'Publish Module to NPM on Node ${{ matrix.node }} and ${{ matrix.os }}'
    needs: build
    if: github.repository == 'react-hook-form/resolvers'  && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/beta' || github.ref == 'refs/heads/1.x')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm build
      - name: Publish
        run: npx semantic-release
        env:
          NODE_AUTH_TOKEN: '${{secrets.NPM_TOKEN}}'
          GITHUB_TOKEN: '${{secrets.GITHUB_TOKEN}}'
