name: CI
on:
  push:
    branches:
      - master
      - beta
      - 1.x
  pull_request:
    paths-ignore:
      - '.gitignore'
      - '.npmignore'
      - '*.md'

jobs:
  build:
    name: Lint, and test on Node ${{ matrix.node }} and ${{ matrix.os }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v1

      - name: Install Dependencies
        run: bun install

      - name: Lint
        run: bun lint
      
      - name: Test
        run: bun run test
          
      - name: TS
        run: bun lint:types

      - name: Build
        run: bun run build

  publish-module:
    name: 'Publish Module to NPM on Node ${{ matrix.node }} and ${{ matrix.os }}'
    needs: build
    if: github.repository == 'react-hook-form/resolvers'  && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/beta' || github.ref == 'refs/heads/1.x')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup bun
        uses: oven-sh/setup-bun@v1

      - name: Install Dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Publish
        run: bunx semantic-release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: '${{secrets.GITHUB_TOKEN}}'
